*{
    box-sizing: border-box;
}

body{
    margin: none;
    padding: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* partie header */

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#logonnav{
    display: flex;
    align-items: center;
}

#logo{
    width: 200px;
    padding: 10px 10px;
}

nav{
    display: flex;
    align-items: center;
}

nav span{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 30px;
    margin-right: 30px;
}

nav span a {
    padding: 20px;
    color: grey;
    text-decoration: none;
}

.navigation:active{
    border-top: solid 2px #0065FC;
    color: #0065FC;
}

#inscription{
    color: #0065FC;  
}

/* partie main section 1 */

h1{
    font-size: 20px;
    margin-bottom: 5px;
}

h5{
    font-size: 15px;
    font-weight: 100;
    margin-top: 5px;
}

#recherche{
    display: flex;
    height: 40px;
}

#placeicone{
    background-color: lightgray;
    padding: 7px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

i{
    font-size: 15px;
}

input{
    padding: 0px 20px;
    font-weight: bolder;
    border: lightgray 1px solid;
    border-right: none;
    outline: none;
}

#recherchebutton{
    font-weight: bolder;
    width: 120px;
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

#filtres{
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
}

.filtre{
    display: flex;
    align-items: center;
    margin: 0px 20px;
    border: lightgray 1px solid;
    border-left: none;
    padding-right: 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 2s;
}

.filtre:hover{
    background-color: #0065FC;
}

.filtre .icone{
    display: flex;
    justify-content: center;
    width: 42px;
    height: 42px;
    align-items: center;
    background-color: #DEEBFF;
    padding: 10px 15px;
    margin-right: 7px;
    margin-left: none;
    border-radius: 50px 50px;
    color: #0065FC;
}

#info{
    display: flex;
    align-items: center;
    font-weight: initial;
    font-size: 15px;
}

#info i{
    color: #0065FC;
    font-size: 20px;
    margin-right: 10px;
}

/* partie main section Hebergement */

.titre{
    margin-bottom: 20px;
}

#hebergement{
    display: flex;
    justify-content: flex-start;
}

#hebergement #main{
    background-color: #F2F2F2;
    width: 800px;
    padding: 15px 15px;
    border-radius: 15px;
}

.logement{
    background-color: white;
    width: 210px;
    padding: 5px;
    margin-right: 25px;
    margin-bottom: 25px;
    border-radius: 15px;
}

#choix{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#hebergement img{
    width: 200px;
    height: 100px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: none;
    object-fit:  cover;
}

#lieu{
    margin: 2px 10px;
    font-size: 15px;
    font-weight: bolder;
}

#prix{
    margin: 5px 10px;
    font-size: 15px;
    font-weight: normal;
}

#etoile{
    font-size: 10px;
    color:  #F2F2F2;
    margin: 5px 10px;
}

.checked {
    color: #0065FC;
  }

  #plus{
      font-weight: bolder;
      font-size: 15px;
  }

  #hebergement aside{
    background-color: #F2F2F2;
    width: 400px;
    padding: 15px 15px;
    border-radius: 15px;
    margin: 0px 30px;
  }
